//Variables
$website-width: 1280px;
$main-color: #fd0054;
$light-color: #fbf9fa;
$medium-color: #a80038;
$dark-color: #2b2024;
$bg-image: url('../img/showcase.jpg');

//Set Text Color
@function set-text-color($color){
  @if(lightness($color) > 50){
    @return #000;
  } @else{
    @return #fff;
  }
}
